fieldset {
    border: 1px solid #ccc;
    position: relative;
    legend {
        position: absolute;
        background-color: #fff;
        font-size: 16px;
        left: 10px;
        width: auto;
        top: -12px;
        padding: 0 10px;
    }
    .weather-img {
        width: 95px;
    }
    .close {
        position: absolute;
        right: 15px;
        top: -10px;
        background: red;
        color: #fff;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 22px;
    }
}

.hr-style {
    height: 1px;
    margin-top: 25px;
    border: 2px solid #020202;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}